# Byte-compiled
__pycache__/

# Distribution / packaging / Pyinstaller
dist/
build/
correlation_map.egg-info/
.spec

# Virtualenv
venv/

# PyCharm
.idea/

# Git
.git/

# MyPy cache
.mypy_cache/

# Tests images
/images/
